.App {
  box-sizing: border-box;
  padding: 40px;
  background-color: #dbdbdb;
  min-height: 100vh;
}

.App-header {
  background-color: #fff;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-content {
  background-color: #fff;
  min-height: 60vh;
  margin-top: 10vh;
  padding: 40px;
}
